# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [1]:
# Assign a list to an variable named my_list
lst1 = [100,200,300,400,500,600,700,800,900,1000]

We just created a list of integers, but lists can actually hold different object types. For example:

In [2]:
lst1 = ['A string',23,100.232,'o', 23 +46j, [1,2,3,4,5]]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [3]:
len(lst1)

6

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [4]:
st = "This is a new string"
lst2 = st.split()

In [5]:
# Grab element at index 0
lst2[0]

'This'

In [6]:
# Grab index 1 and everything past it
lst2[1:]

['is', 'a', 'new', 'string']

In [7]:
# Grab everything UP TO index 3
lst2[:3]

['This', 'is', 'a']

We can also use + to concatenate lists, just like we did for strings.

In [8]:
lst2 + [1,2,3,4,4,5]

['This', 'is', 'a', 'new', 'string', 1, 2, 3, 4, 4, 5]

Note: This doesn't actually change the original list!

In [9]:
lst2

['This', 'is', 'a', 'new', 'string']

You would have to reassign the list to make the change permanent.

In [10]:
# Reassign
lst2 = lst2 + ['add new item permanently']

In [11]:
lst2

['This', 'is', 'a', 'new', 'string', 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [12]:
# Make the list double
lst2 * 2

['This',
 'is',
 'a',
 'new',
 'string',
 'add new item permanently',
 'This',
 'is',
 'a',
 'new',
 'string',
 'add new item permanently']

In [13]:
# Again doubling not permanent
lst2

['This', 'is', 'a', 'new', 'string', 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [14]:
# Create a new list
lst1 = [1,2,3,4,5,6,7,8,9]
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Use the **append** method to permanently add an item to the end of a list:

In [15]:
# Append
lst1.append("Ten")

In [16]:
# Show
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Ten']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [17]:
# Pop off the 0 indexed item
lst1.pop(0)

1

In [18]:
# Show
lst1

[2, 3, 4, 5, 6, 7, 8, 9, 'Ten']

In [19]:
# Assign the popped element, remember default popped index is -1
popped_item = lst1.pop()

In [20]:
popped_item

'Ten'

In [21]:
# Show remaining list
lst1

[2, 3, 4, 5, 6, 7, 8, 9]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [22]:
lst1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [23]:
new_list = ['a','e','x','b','c']

In [24]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [25]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [26]:
new_list

['c', 'b', 'x', 'e', 'a']

In [27]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [28]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [29]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [30]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [31]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [32]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [33]:
st = "This is a new string with many words."
lststr = st.split()
res = []

In [34]:
for i in lststr:
    print(f"Current value of i {i}")
    if ("t" in i) or ("T" in i):
        res.append(i)
res

Current value of i This
Current value of i is
Current value of i a
Current value of i new
Current value of i string
Current value of i with
Current value of i many
Current value of i words.

['This', 'string', 'with']

In [35]:
# Build a list comprehension by deconstructing a for loop within a []
res = []
res= [ i for i in lststr if (("t" in i) or ("T" in i))]

In [36]:
res

['This', 'string', 'with']

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. 

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [37]:
# Make a dictionary with {} and : to signify a key and a value
dict1 = {}
dict1 = {'k1':70,'k2':'3+4j'}

In [38]:
# Call values by their key
dict1['k2']

'3+4j'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [39]:
dict2 = {'k1': 45 , 'k2': 65.3, 'k3': "this is dictionary", 'k4':{'kk1': 12, 'kk2': 45}, 'k5': [1,2,3,4,5]}
dict2

{'k1': 45,
 'k2': 65.3,
 'k3': 'this is dictionary',
 'k4': {'kk1': 12, 'kk2': 45},
 'k5': [1, 2, 3, 4, 5]}

In [40]:
# Let's call the list from the dictionary
dict2['k5']

[1, 2, 3, 4, 5]

In [41]:
# Can call an index on that value
dict2['k3'][0]

't'

In [42]:
# Can then even call methods on that value
dict2['k3'][0].upper()

'T'

In [43]:
# We can affect the values of a key as well. For instance:
dict2['k1'] *=17
dict2

{'k1': 765,
 'k2': 65.3,
 'k3': 'this is dictionary',
 'k4': {'kk1': 12, 'kk2': 45},
 'k5': [1, 2, 3, 4, 5]}

In [44]:
# Create a new dictionary
d = {}

In [45]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [46]:
# Can do this with any object
d['answer'] = 42

In [47]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [48]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [49]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [50]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [51]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [52]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [53]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 
We can treat them very similarly to lists with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [54]:
# Create a tuple
my_first_tuple = ("a","b","c")
print(my_first_tuple)

('a', 'b', 'c')

In [55]:
# check the datatype of the tuple
print(type(my_first_tuple))

<class 'tuple'>

In [56]:
# Check lenght of the tuple using len()
len(my_first_tuple)

3

In [57]:
# Can also mix object types
my_first_tuple = (2.7,2)
my_first_tuple

(2.7, 2)

In [58]:
# Indexing is same as that of list
my_first_tuple[0]

2.7

In [59]:
# Slicing is same as that of list
my_first_tuple[-1]

2

## Basic Tuple Methods

Tuples have built-in methods. Let's look at two of them:

In [60]:
# to return the index
my_first_tuple.index(2.7)

0

In [61]:
# to count the number of times a value appears
my_first_tuple.count(2)

1

## Immutability of a Tuple

Tuples are immutable, meaning that we cannot change, add or remove items after the tuple has been created.

In [62]:
my_first_tuple[0]= "apple"

TypeError: 'tuple' object does not support item assignment

In [63]:
my_first_tuple.append(6583483)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
my_first_tuple.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

## Sets

A set is a collection which is both unordered and unindexed.

In [65]:
# create a set
my_first_set = set()

In [66]:
#check the type
print(type(my_first_set))

<class 'set'>

In [67]:
# add elements to the set
my_first_set.add("College")

In [68]:
my_first_set

{'College'}

Curly brackets of a set should not be confused with that of dictionary.

### SETS CONTAIN ONLY UNIQUE ELEMENTS

So what happens if add elements that already exist

In [69]:
my_first_set.add("College")
my_first_set

{'College'}

We can see that it still contains only one element even though the element "College" was added twice

In [70]:
# A tuple with duplicate or repeating values
t = (1,2,3,4,5,5,5,3,2,1,1,2,3,5,6,4,3,2,1,1)

Lets convert the above tuple
into a set

In [71]:
set(t)

{1, 2, 3, 4, 5, 6}

We can see that the set has retained only the unique elements

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [72]:
# Set object to be a boolean
a = True

In [73]:
#Show
a

True

We can also use comparison operators to create booleans.

In [74]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [75]:
# None placeholder
b = None

In [76]:
# Show
print(b)

None

# Comparison Operators 
Comparison operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [77]:
2 == 2

True

In [78]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [79]:
 2 != 1

True

In [80]:
2 != 2

False

#### Greater Than

In [81]:
2 > 1

True

In [82]:
2 > 3

False

#### Less than

In [83]:
2 < 4

True

In [84]:
2 < 1

False

#### Greater than or Equal to

In [85]:
2 >= 2

True

In [86]:
2 >= 1

True

#### Less than or Equal to

In [87]:
2 <= 2

True

In [88]:
2 <= 4

True